<div class="col-md-4">
  <div class="card employee-card mb-3" style="width: 20rem;">
    <div class="card-header bg-info">
      <h2 class="card-title">${manager.name}</h2>
      <h3 class="card-title">
        <i class="fas fa-mug-hot mr-2"></i>${manager.role}
      </h3>
    </div>
    <div class="card-body bg-light">
      <ul class="list-group">
        <li class="list-group-item">ID: ${manager.id}</li>
        <li class="list-group-item">Email: ${manager.email}</li>
        <li class="list-group-item">Office number: ${manager.officeNumber}</li>
      </ul>
    </div>
  </div>
</div>
